<template>
    <div
        class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
    >
        <div
            class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg"
        >
            <div class="mb-4">
                <h1 class="text-grey-darkest">Todo List</h1>
                <div class="flex mt-4">
                    <input
                        v-model="currentItem.content"
                        type="text"
                        class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                        placeholder="Add Todo"
                    />
                    <button
                        class="flex-no-shrink p-2 mr-4 border-2 rounded text-teal-400 border-teal-400 hover:text-white hover:bg-teal-400"
                        @click="updateOrCreateItem()"
                    >
                        {{ isEditMode() ? "Save" : "Add" }}
                    </button>
                    <button
                        v-if="isEditMode()"
                        class="flex-no-shrink p-2 border-2 rounded text-teal-400 border-teal-400 hover:text-white hover:bg-teal-400"
                        @click="clearFields()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
            <div>
                <TodoItem
                    v-for="item in itemList"
                    :key="item.id"
                    :item="item"
                    @editItem="editItem"
                    @removeItem="removeItem"
                ></TodoItem>
                <div class="flex mb-4" v-if="!hasItems()">No data</div>
            </div>
        </div>
    </div>
</template>

<script>
import TodoItem from "./TodoItem";
import { APIService } from "../APIService";

export default {
    name: "TodoList",
    components: { TodoItem },
    data() {
        return {
            currentItem: {
                id: null,
                content: null,
            },
            itemList: [],
        };
    },
    async mounted() {
        await this.getList();
    },
    methods: {
        async getList() {
            try {
                await APIService.getTodoList()
                    .then((response) => {
                        this.setList(response.data.list);
                    })
                    .catch((error) => {
                        this.showErrorModal(error.response.data.message);
                    });
            } catch (e) {
                this.showErrorModal();
            }
        },
        updateOrCreateItem() {
            if (!this.isContentFilledUp()) {
                return this.showErrorModal("Please fill up the content field");
            }
            if (this.isEditMode()) {
                return this.updateItem();
            }
            return this.createItem();
        },
        async createItem() {
            try {
                await APIService.createTodoItem({
                    content: this.currentItem.content,
                })
                    .then((response) => {
                        const id = response.data.id;
                        this.itemList.push({
                            id: id,
                            content: this.currentItem.content,
                        });
                        this.clearFields();
                        this.showSuccessModal(response.data.message);
                    })
                    .catch((error) => {
                        this.showErrorModal(error.response.data.message);
                    });
            } catch (e) {
                this.showErrorModal();
            }
        },
        async updateItem() {
            try {
                const content = this.currentItem.content;
                const id = this.currentItem.id;

                await APIService.updateTodoItem(id, {
                    content: content,
                })
                    .then((response) => {
                        const index = this.itemList.findIndex((item) => {
                            return item.id === id;
                        });
                        this.$set(this.itemList, index, {
                            id: id,
                            content: content,
                        });
                        this.clearFields();
                        this.showSuccessModal(response.data.message);
                    })
                    .catch((error) => {
                        this.showErrorModal(error.response.data.message);
                    });
            } catch (e) {
                this.showErrorModal();
            }
        },
        async editItem(item) {
            this.$set(this.currentItem, "id", item.id);
            this.$set(this.currentItem, "content", item.content);
        },
        async removeItem(itemForRemove) {
            const id = itemForRemove.id;
            if (this.currentItem.id === id) {
                this.clearFields();
            }
            try {
                await APIService.deleteTodoItem(id)
                    .then((response) => {
                        const index = this.itemList.findIndex((item) => {
                            return item.id === id;
                        });
                        this.itemList.splice(index, 1);
                        this.showSuccessModal(response.data.message);
                    })
                    .catch((error) => {
                        this.showErrorModal(error.response.data.message);
                    });
            } catch (e) {
                this.showErrorModal();
            }
        },
        setList(data) {
            this.itemList = data;
        },
        isEditMode() {
            return !!this.currentItem.id;
        },
        clearFields() {
            this.$set(this.currentItem, "id", null);
            this.$set(this.currentItem, "content", null);
        },
        showErrorModal(message = "Error!") {
            this.$toasted.error(message);
        },
        showSuccessModal(message) {
            this.$toasted.success(message);
        },
        hasItems() {
            return this.itemList.length > 0;
        },
        isContentFilledUp() {
            return !!this.currentItem.content;
        },
    },
};
</script>

<style scoped></style>
