<template>
    <div class="flex mb-4 items-center">
        <p class="w-full text-grey-darkest">
            {{ item.content }}
        </p>
        <button
            class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green-400 border-green-400 hover:bg-green-400"
            @click="editItem()"
        >
            Edit
        </button>
        <button
            class="flex-no-shrink p-2 ml-2 border-2 rounded text-red-400 border-red-400 hover:text-white hover:bg-red-400"
            @click="removeItem()"
        >
            Del
        </button>
    </div>
</template>

<script>
export default {
    name: "TodoItem",
    props: {
        item: {
            required: true,
            default: () => {},
        },
    },
    methods: {
        editItem() {
            this.$emit("editItem", this.item);
        },
        removeItem() {
            this.$emit("removeItem", this.item);
        },
    },
};
</script>

<style scoped></style>
